<!-- Remeber ro put Content inside <div id="page-content-wrapper"> -->
<!-- Bootstrap Core CSS -->
<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="{{ site.baseurl }}/css/simple-sidebar.css" rel="stylesheet">
<!-- Custom JS -->
<script type="text/javascript" src="{{ site.baseurl }}/js/CollapsibleLists.js"></script>

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="collapsibleList" id="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Categories
            </a>
        </li>
        <li>
            <a href="#tech">Technology</a>
            <ul>
                <li><a>Linux</a>
                    <ul>
                        <li>Beautiful Linux Desktops with Compiz</li>
                    </ul>
                </li>
                <li><a>Vim</a></li>
                <li><a>Python</a></li>
                <li><a>Machine Learning</a></li>
                <li><a>WebDev</a></li>
            </ul>
        </li>
        <li>
            <a href="#econ">Economics</a>
            <ul>
                <li>A new economic model</li>
            </ul>
        </li>
        <li>
            <a href="#proj">Project Ideas</a>
            <ul>
                <li>EncryptedTwitter</li>
            </ul>
        </li>
        <li>
            <a href="#scifi">Science Fiction</a>
            <ul>
                <li>The Open Source Revolution</li>
            </ul>
        </li>
        <li>
            <a href="#life">Life</a>
            <ul>
                <li><a>Diet</a></li>
                <li><a>Fitness</a></li>
                <li><a>Yoga</a></li>
                <li><a>Drugs</a></li>
            </ul>
        </li>
        <li>
            <a href="#phil">Philosophy</a>
            <ul>
            </ul>
        </li>
        <li>
            <a href="#tutorial">Tutorials</a>
            <ul>
                <li><a>GitHub</a>
                    <ul><li>Contributing to a GitHub blog</li></ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#events">Events</a>
            <ul>
            </ul>
        </li>
    </ul>
</div>
<script>
CollapsibleLists.apply();
</script>
<!-- /#sidebar-wrapper -->
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>

<!-- jQuery -->
<script src="{{site.baseurl}}/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
	e.preventDefault();
	$("#wrapper").toggleClass("toggled");
});
</script>

